

.login-container {
  background-color: #080710;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.backgroundLogin {
  width: 25vw;
  height: 70vh;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.backgroundLogin .shapeLogin {
  height: 13vw;
  width: 13vw;
  position: absolute;
  border-radius: 50%;
}

.shapeLogin:first-child {
  background: linear-gradient(#1845ad, #23a2f6);
  left: -6.5vw;
  top: -6.5vw;
}

.shapeLogin:last-child {
  background: linear-gradient(to right, #ff512f, #f09819);
  right: -6.5vw;
  bottom: -6.5vw;
}

.formLogin {
  height: 70vh;
  width: 25vw;
  background-color: rgba(255, 255, 255, 0.17);  
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 8vh 2vw;
  backdrop-filter: blur(10px);
}

.formLogin * {
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}

.formLogin h3 {
  font-size: 2vw;
  font-weight: 500;
  line-height: 3vw;
  text-align: center;
}

.labelLogin {
  display: block;
  margin-top: 10%;
  margin-bottom: 2.5%;
  font-size: 1vw;
  font-weight: 500 !important;
}
.fory{
    height: 17%;
}

.inputLogin { 
  display: block;
  height: 65%;
  width: 100% ;
  background-color: rgba(255, 255, 255, 0.07) !important;
  border-radius: 3px;
  padding: 0 1vw !important;
  margin-top: 1vh !important;
  font-weight: 300 !important;
}

.forget-login{
  font-size: 1vw;
}

::placeholder {
  color: #e5e5e5 !important;
  font-size: 0.9vw;
}

button {
  margin-top: 2.5vh;
  width: 100%;
  background-color: #ffffff ;
  color: #080710;
  font-size: 1vw;
  font-weight: 600 !important;
  border-radius: 5px !important;
  cursor: pointer;
}

